/**
 * These styles aren't included in the /source index.html.
 * They're compiled into the build version via Grunt (see Gruntfile.js).
 * Put things here that are touchscreen-specific or otherwise obnoxious for local work (i.e. null cursor).
 */

/* Hide the cursor */
* { cursor: url(../../assets/images/cursor.png), none !important }

/* Disable text selection */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}
